.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: white;
}

.checkout_left {
  min-width: 600px;
  margin-right: 10px;
}

.checkout_ad {
  margin-bottom: 10px;
  width: 100%;
}

.checkout_title {
  padding: 10px;
  border-bottom: 1px solid;
}
