.payment {
    background-color: white;
}

.payment_container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgrey;
}

.payment_containerLink {
    text-decoration: none;
    color: black;
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title {
    flex: 0.2;
}

.payment_address,
.payment_items,
.payment_details {
    flex: 0.8;
}

.payment_priceContainer {
    display: flex;
    flex-direction: column;
}
.payment_priceContainer > button {
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
    width: 150px;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    font-weight: bolder;
}

.payment_priceContainer > button:enabled {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}

.payment_total {
    padding: 10px;
    font-weight: bolder;
}
